.pagina {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.pagina > * {
  grid-column: 1/-1;
}

.nav {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

nav .logo {
  padding: 20px;
  min-width: 100px;
  width: 150px;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: right;
  font-size: 12px;
  padding: 24px;
  flex-wrap: wrap;
}
.menu a {
  color: #d84a12;
  text-decoration: none;
  padding: 0.7rem;
}
.menu a:hover {
  background-color: #ffffff;
  color: #e9e6c1;
  border-radius: 0.7rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9e6c1;
}

main {
  width: 90%;
  height: 7900px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  padding: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  grid-area: header;
}

.info {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  width: 95%;
  min-height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.footer {
  grid-area: footer;
}

.intro-img {
  width: 250px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.titulo {
  font-size: x-large;
  font-family: "Nunito Sans", sans-serif;
  color: #d84a12;
  padding: 50px;
}

.carousel1 {
  width: 70%;
  padding: 150px;
  height: 50px;
  gap: 12px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel2 {
  width: 500px;
  padding: 50px;
  display: flex;
}

.carousel {
  @exten carousel2;
  justify-content: space-between;
  align-items: center;
}

.descripcion {
  font-size: large;
  font-family: "Nunito Sans", sans-serif;
  color: #d84a12;
  padding: 50px;
}

.Intro {
  padding: 10px;
  list-style-type: none;
  display: flex;
}

.Intro2 {
  padding: 10px;
  list-style-type: none;
  display: flex;
}

.Intro3 {
  padding: 10px;
  list-style-type: none;
  display: flex;
}

.casilla1 {
  padding: 10px;
  display: flex;
}

ul .if {
  width: 50px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  padding: 0.7rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact .contact__item {
  list-style: none;
  flex: 1;
}

.inst {
  border-radius: 30px;
}

.fb {
  border-radius: 100px;
}

.wp {
  border-radius: 100px;
}

.galeriaFotos {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  color: #d84a12;
}

.fotos {
  width: auto;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.intro4 {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  list-style-type: none;
  display: flex;
}

.formulario {
  padding: 50px;
  display: flex;
  justify-content: center;
}

label {
  padding: 10px;
}

@media screen and (min-width: 1200px) {
  .menu {
    font-size: 24px;
    padding: 50px;
  }
  .info {
    flex-direction: row;
    gap: 12px;
    width: 70%;
  }
  .contact {
    justify-content: flex-end;
    gap: 12px;
  }
  .contact .contact__item {
    flex: unset;
  }
}
@media screen and (min-width: 768px) {
  .pagina {
    background-color: #e9e6c1;
  }
  .menu a {
    color: #050505;
  }
  .titulo {
    color: #050505;
  }
}


